.site-topbar {
    position: relative;
     z-index: 30;
    height: 40px;
    font-size: 12px;
    background-color: #333;
  }
  
  .container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .site-topbar a {
    color: #b0b0b0;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: #333
  }
  .sep {
    color: #424242;
  }
  
  .topbar-nav {
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
  }
  
  .topbar-cart {
    color: #b0b0b0;
    float: right;
    line-height: 40px;
    width: 120px;
    margin-left: 15px;
    background: #424242;
   

    
  }
  
  .topbar-info {
    display: inline-block;
    float: right;
    height: 40px;
    line-height: 40px;
  }
  .site-header .header-logo {
    margin-left: 178px;
    width: 62px;
    margin-top: 22px;
    float: left;
    margin-right: 165px;
    
  }
  .site-header .header-1-nav .header-nav {
    display: inline-block;
    margin-right: 25px;
    margin-top: 35px;
    float: left;
   
    
  }
  .header-1-nav{
    margin-right: auto;
    margin-left: auto;
  }
