body{
  margin:0px;
}
.site-topbar {
    position: relative;
     z-index: 30;
    height: 40px;
    font-size: 12px;
    background-color: #333;
  }
  
  .container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .site-topbar a {
    color: #b0b0b0;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: #333
  }
  .sep {
    color: #424242;
  }
  
  .topbar-nav {
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
  }
  
  .topbar-cart {
    margin:0 auto;
    color: #b0b0b0;
    float: right;
    line-height: 40px;
    width: 120px;
    margin-left: 15px;
    background: #424242;
   

    
  }
  
  .topbar-info {
    display: inline-block;
    float: right;
    height: 40px;
    line-height: 40px;
  }
  .header-kuang{
    position: relative;
    width:1226px;
    margin:0 auto;
    height: 100px;
  

  }
  .site-header  {
    position: relative;
    height: 100px;
    
  }
  .site-header .header-1-nav .header-nav {
    display: inline-block;
    margin-right: 25px;
    margin-top: 35px;
    float: left;
   
    
  }
  .header-1-nav{
    float: left;
    height: 100px;
    padding-left:172px;
    margin-right: 30px;
  }

  .header-logo2{
    float: left;
    width: 62px;
    margin-top: 22px;
  }
form{
    margin-bottom: 1em;
    display: block;
    margin-top: 0em;
  }

  .kuan input{
    position: relative;
    width: 296px;
    height: 50px;
  }
  .search{
    float: left;
    margin-top: 25px;
    width: 296px;
    height: 50px;
  }
  .main {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 10;
}
.main-yemeixia {
  position: relative;
  margin-bottom: 26px;
}
.main-yemeixia-slider {
  position: relative;
  height: 460px;
  overflow: hidden;
  
}
.main-nav {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  width: 234px;
  height: 420px;
  border: 0;
  color: #fff;
  background: #333;
  background: rgba(0,0,0,0.6);
}
.title {

  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #424242;
}

.main-nav a{
  color:#fff;
}
.datu{
  float: left;
  
  width: 1226px;
  height:460px;
}
.xiaotupiao{
  display: table;
  margin-left:-14px;
  margin-top:14px;
}
.xiaotubiao2{
  width: 234px;
  float: left;
  margin-left:14px;
  min-height: 1px; 
}
.xiaotubiao-list{
  margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
    list-style-type: none;
    font-size: 12px;
    display: table;
}
.x6{
  
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  
}
.t6{
  
  display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
}
.t1{
  margin: 0 auto;
  display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;  
}

.xiaotubiao-list li:before{
  top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.xiaotubiao-list li:before, .xiaotubiao-list li:after{
  position: absolute;
    content: "";
    background: #665e57;
}

.xiaotubiao-list li:after{
  top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}
.datubiao{
  width: 978px;
  float: left;
  margin-left: 14px;
  min-height: 1px;
}
.sangetu{
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.frist{
  margin-left: 0;
}
.sangetu li{
  float: left;
  width: 316px;
  height: 170px;
}
.p3{
  width: 316px;
  height: 170px;
}
.sangetu li{
  margin-right: 14px
}
#p2 {
  margin: 0px
}
.gouwuche{
width:20px;
height: 20px;
margin-top:px;

}
.gouwuche1{
  margin-left: 20px;
 
  width:120px;
  height: 40px;
}