body{
 
 font: 14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
color: #333;
background-color: #fff;
min-width: 1226px;

}
.site-topbar {
    position: relative;
     z-index: 30;
    height: 40px;
    font-size: 12px;
    background-color: #333;
  }
  
  .container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .site-topbar a {
    color: #b0b0b0;
    text-decoration: none;
  }
  a{
    text-decoration: none;
    color: #333
  }
  .sep {
    color: #424242;
  }
  
  .topbar-nav {
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 40px;
  }
  
  .topbar-cart {
    margin:0 auto;
    color: #b0b0b0;
    float: right;
    line-height: 40px;
    width: 120px;
    margin-left: 15px;
    background: #424242;
   

    
  }
  
  .topbar-info {
    display: inline-block;
    float: right;
    height: 40px;
    line-height: 40px;
  }
  .header-kuang{
    position: relative;
    width:1226px;
    margin:0 auto;
    height: 100px;
  

  }
  .site-header  {
    position: relative;
    height: 100px;
    
  }
  .site-header .header-1-nav .header-nav {
    display: inline-block;
    margin-right: 25px;
    margin-top: 35px;
    float: left;
   
    
  }
  .header-1-nav{
    float: left;
    height: 100px;
    padding-left:172px;
    margin-right: 30px;
  }

  .header-logo2{
    float: left;
    width: 62px;
    margin-top: 22px;
  }
form{
    margin-bottom: 1em;
    display: block;
    margin-top: 0em;
  }

  .kuan input{
    position: relative;
    width: 296px;
    height: 50px;
  }
  .search{
    float: left;
    margin-top: 25px;
    width: 296px;
    height: 50px;
  }
  .main {
    
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    z-index: 10;
}
.main-yemeixia {
  position: relative;
  margin-bottom: 26px;
}
.main-yemeixia-slider {
  position: relative;
  height: 460px;
  overflow: hidden;
  
}
.main-nav {
  position: absolute;
  display: inline-block;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  width: 234px;
  height: 420px;
  border: 0;
  color: #fff;
  background: #333;
  background: rgba(0,0,0,0.6);
}
.title {

  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #424242;
}

.main-nav a{
  color:#fff;
}
.datu{
  float: left;
  
  width: 1226px;
  height:460px;
}
.xiaotupiao{
  display: table;
  margin-left:-14px;
  margin-top:14px;
}
.xiaotubiao2{
  width: 234px;
  float: left;
  margin-left:14px;
  min-height: 1px; 
}
.xiaotubiao-list{
  margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
    list-style-type: none;
    font-size: 12px;
    display: table;
}
.x6{
  
  position: relative;
  float: left;
  width: 70px;
  height: 82px;
  padding: 0 3px;
  
}
.t6{
  
  display: block;
    padding-top: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: rgba(255,255,255,0.7);
    transition: color .2s;
}
.t1{
  margin: 0 auto;
  display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;  
}

.xiaotubiao-list li:before{
  top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.xiaotubiao-list li:before, .xiaotubiao-list li:after{
  position: absolute;
    content: "";
    background: #665e57;
}

.xiaotubiao-list li:after{
  top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}
.datubiao{
  width: 978px;
  float: left;
  margin-left: 14px;
  min-height: 1px;
}
.sangetu{
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.frist{
  margin-left: 0;
}
.sangetu li{
  float: left;
  width: 316px;
  height: 170px;
}
.p3{
  width: 316px;
  height: 170px;
}
.sangetu li{
  margin-right: 14px
}
#p2 {
  margin: 0px
}
.gouwuche{
width:20px;
height: 20px;
margin-top:px;

}
.gouwuche1{
  margin-left: 20px;
 
  width:120px;
  height: 40px;
}
.hd{
  position: relative;
  height: 58px;
  
}

.xiaobiaoti{

  margin: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 58px;
  color: #333;
}
.reping{
  width: 1240px;
  height: 415px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.reping1{
  margin-left: 0;
  position: relative;
 float: left;
 width: 296px;
 height: 415px;
 margin-left: 0px;
 margin-bottom: 14px;
  background: #fff;
 -webkit-transition: all .2s linear;
 transition: all .2s linear;
}
.repingtu{
  width: 296px;
  height: 220px
}
.review{
  height: 72px;
  margin: 0 28px 22px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  overflow: hidden;
 
}
.author{
  position: relative;
  height: 18px;
  margin: 0 28px 8px;
  padding: 0 10px 0 0;
  font-size: 12px;
  color: #b0b0b0;

}
.info{
  width: 236px;
  height:22px;
  margin: 0 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  
}
.dianfanbao{
  display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    color: #333;

}
.sep{
  color: #e0e0e0;
}
#comment .price{
  display: inline;
  margin: 0;
  color: #ff6700;
}
.home-main{
  padding-top: 22px;
  background: #f5f5f5;
}
.container{
  width: 1226px;
    margin-right: auto;
    margin-left: auto;

}
.reping2{
  position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
#comment{
  margin-bottom: 22px;
}
.content-4{
  position: relative;
    float: left;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    border-top: 1px solid #e0e0e0;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.content-4-first{
  margin-left: 0
}
.content-4-1{
  border-top-color: #ffac13;
  color: #ffac13;
}
.content-biaoti{
  margin: 0 10px 18px;
  font-size: 16px;
  font-weight: 400;
  text-align: center;

}
.content-xia{
  height: 340px;
  overflow: hidden;
}
.neirong{
  width: 888px;
  margin-left: 0px;
  height: 340px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
  overflow: hidden;
  
  color: #333;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: initial;
}
.neirong li{
  float: left;
  width: 296px;
  height: 340px;

}
.name{
  color: #333;
  margin: 0 20px 5px;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.25;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.name a{
  color: #333;
}
.reping3{
  width: 296px;
  height: 220px;
  margin: 0 0 28px;
}
.desc{
  color: #b0b0b0;
  margin: 0 48px 10px;
  height: 40px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  overflow: hidden
}
.desc a{
  color: #b0b0b0;
}
#content{
  margin-bottom: 27px
}
#content .price{
  width: 276px;
  height: 21px;
  display: inline-block;
  color: #333;
  height: 21px;
  margin: 0 10px 15px;
  text-align: center;
}
.figure-img {
  width: 216px;
  height: 154px;
  margin: 0 auto;
}
.content-4-2{
  margin-left: 14px;
  border-top-color: #83c44e;
    color: #83c44e;

}
.jkl{
  padding-top:10px;
}
.content-4-3{
  margin-left: 14px;
  border-top-color: #e53935;
  color: #e53935;
}
.content-4-4{
  border-top-color: #2196f3;
  color: #2196f3;
  margin-left: 14px
}
.dian-28{
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 296px;
  color: #ffac13;
  text-align: center;
}
.dian-28-1{
  margin: 0;
  padding: 0;
  list-style-type: none;

}
.pager-active-28{
  
  cursor: default;
}
 .pager {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin: 0 2px;
  cursor: pointer;
}
 .dot {
  border-color: #ff6700;
  background-color: #f5f5f5;
  background-color: transparent;
}
.dot-1 {
  background:#ff6709;
  display: block;
  width: 6px;
  height: 6px;
  border: 2px solid #ff6709;
  border-radius: 6px;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
  background-color: #b0b0b0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.dian-28 .pager-active-28 .dot:hover{
  background-color: #ff6709;
}
.dot-1{
  background:#f5f5f5
  
}
.dot:visited{
  cursor:default;
  
}
.pager-28{
  display: inline-block;
  width: 10px;
  height: 10px;
  padding: 10px;
  margin: 0 2px;
  cursor: pointer;
}
.pager:active{

    cursor: default;
}
.dot-2-28 {
  background:#ff6709;
  display: block;
  width: 6px;
  height: 6px;
 
  border-radius: 6px;
  text-align: left;
  text-indent: -9999em;
  overflow: hidden;
  background-color: #b0b0b0;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.dot-2-28{
  background-color: #b0b0b0;
}
.dot-2-28:hover{
  background:#f5f5f5;
  border: 2px solid #ff6709;
}
.content-4:hover{
  transform: translate(0,-4px);
}
.reping1:hover{
  transform: translate(0,-4px);
}
.reping2:hover{
  transform: translate(0,-4px);
}
.site-topbar a:hover{
  color: #fff;
}

.main-nav:hover{
  color: #ff6709 
}
.main a:hover{
  color: #fff

}
.list:hover{
  background-color: #ff6709;
  color:#fff
}
.header-1-nav a:hover{
  color: #ff6709
}
#video-28{
  margin-bottom: 60px;
}
.all{
  position: absolute;
  top: 0;
  right: 0;
}
.all-28{
  font-size: 16px;
  line-height: 58px;
  color: #424242;
  -webkit-transition: all .4s;
  transition: all .4s;
}
.all-28:hover{
  color: #ff6709;
  
}
.icon{
  width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
    -webkit-transition: all .4s;
    transition: all .4s;
    
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
}
.all-28:hover .icon{
  background-color: #ff6709
}
.video-list-28{
  width: 1240px;
  height: 285px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.video-28-item{
  position: relative;
  float: left;
  width: 296px;
  height: 285px;
  margin-left: 14px;
  margin-bottom: 14px;
  text-align: center;
  background: #fff;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
}
.video-1{
  margin-left: 0;
}
.figure-img-28{
  position: relative;
  width: 296px;
  height: 180px;
  margin: 0 0 28px;
}
.figure-img-28 a{
  display: block;
    height: 180px;
}
.figure-img-28 img{
  width: 296px;
  height: 180px;

}
.play{
  position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #424242;
    background-color: rgba(0,0,0,0.6);
    
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
    overflow: hidden;
    
}
.play .icon{
background-color: rgba(0,0,0,0.6);
}

.figure-img-28:hover .play{
  background-color: #ff6709
}
.figure-img-28:hover .icon{
  background-color: #ff6709
}
.video-28-item:hover{
  transform: translate(0,-4px);
}
.title-28{
  margin: 0 0 6px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  color: #333;

}
.title-28 a:hover{
  color: #ff6709
}
.topbar-cart .gouwuche1:hover{
  color: #ff6709
}
.list i{
  color: rgba(255,255,255,0.5);
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}
.icon-28{
 
  font-style: normal;
  
}
.container-28-weixiu{
  
  padding: 27px 0;
  border-bottom: 1px solid #e0e0e0;

}
.home-main{
  height: 1398px
}
.weixiu-list{
  display: inline-block;
  width: 1226px;
  height:25;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.weixiu-list a:hover{
  color: #ff6700
}
.weixiu-list li{
  float: left;
  width: 242.73px;
  height: 25px;
  border-left: 1px solid #e0e0e0;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}
.weixiu-list li:first-child{
  
    border-left: 0;

}
.weixiu-list img{
  width: 24px;
  height: 24px;
  margin-right: 1px
}
.weixiu-list .a:hover img{
  color: #ff6709
}

.wyt-28-info {
  padding: 30px 0;
  font-size: 12px;
  background: #fafafa;
}

.text-wyt{
  float: left;
  color: #b0b0b0;
}
.wyt-28-info p{
  margin: 0px;
  line-height: 18px
}
.wyt-logo{
  float: left;
  margin-right: 10px
}
.wyt-28-sites a{
  color: #757575;
}
.wyt-28-info a:hover{
  color: #ff6709
  
}
.wyt-bottom a{
  color: #b0b0b0;
}